SECRET_KEY=

DB_HOST=proddb01.aulaData.lab
DB_PORT=5432
DB_NAME=auladata_prod
DB_USER=auladata_prod_user
DB_PASSWORD=

APP_ENV=PROD
APP_VERSION=0.1.0
APP_COMMIT=

ADMIN_INITIAL_PASSWORD=
CONSULTA_INITIAL_PASSWORD=