# deploy/env/qa.env.example
SECRET_KEY=

DB_HOST=qadb01.aulaData.lab
DB_PORT=5432
DB_NAME=auladata_qa
DB_USER=auladata_qa_user
DB_PASSWORD=

APP_ENV=QA
APP_VERSION=0.1.0
APP_COMMIT=

ADMIN_INITIAL_PASSWORD=
CONSULTA_INITIAL_PASSWORD=