SECRET_KEY=

DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=

APP_ENV=
APP_VERSION=0.1.0
APP_COMMIT=

ADMIN_INITIAL_PASSWORD=
CONSULTA_INITIAL_PASSWORD=

TEST_DB_HOST=
TEST_DB_PORT=5432
TEST_DB_NAME=
TEST_DB_USER=
TEST_DB_PASSWORD=

TEST_ADMIN_PASSWORD=
TEST_CONSULTA_PASSWORD=